body{
	background-color: black;
	margin: 0;
}

@font-face{
    font-family: 'union';
    src: url('Union-Regular.otf') format('otf'), }

    @font-face{
    font-family: 'union-italic';
    src: url('Union-Italic.otf') format('otf'), }


h1{
	font-family: 'union', sans-serif;
	font-weight: normal;
	color: white;
	font-size: 3.5em;
	text-decoration: none;
}

p {
	font-family: 'union', sans-serif;
	font-weight: normal;
	color: white;
	font-size: 1.8em;
	text-decoration: none;
}


li {
	font-family: 'union', sans-serif;
	font-weight: normal;
	color: white;
	font-size: 3.5em;
	list-style: none;
}


#image {
 width: 100vw;
 height: 100vh;
 margin: 0;
}

#after {
	width: 80vw;
	padding-top: 15%;
	margin: 0 auto;
	font-size: 1.4em;
	letter-spacing: -0.03em;
	padding-bottom: 15%;
}

.imgcover{
	width: 50vw;
	float: left;
}


.bottom{
	margin-left: -50vw;
	opacity: 0;
}

.top:hover {
	opacity: 0;
}
.bottom:hover{
	opacity: 1;
}

.info {
	width: 40%;
	margin-left: 50%;
	float: none;
	padding-top: 2%;
}

iframe{
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.parag{
	margin-top: 15%;
	width: 65%;
	margin-left: 5%;}

.video {
	width: 100vw;
	position: fixed;
	z-index: 2;
}

.text {
	z-index: 3;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.this {
	width: 60%;
	margin: 0 auto;
	margin-top: 45%;
}

#back {
	width: 2%;
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	z-index: 10;
}

#pdf {
	width: 2%;
	position: absolute;
	top: 2.5%;
	right: 4%;
	z-index: 10;
}



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	
.imgcover{
	width: 100vw;
	float: none;
}

.bottom{
	margin-left: 0;
	opacity: 0;
}

#after {
	width: 80vw;
	margin: 0 auto;
	font-size: 1.4em;
	letter-spacing: -0.03em;
	padding-bottom: 35%;
}

h1{
	font-family: 'union', sans-serif;
	font-weight: normal;
	color: white;
	font-size: 2.5em;
	text-decoration: none;
}

p {
	font-family: 'union', sans-serif;
	font-weight: normal;
	color: white;
	font-size: 0.8em;
	text-decoration: none;
}


li {
	font-family: 'union', sans-serif;
	font-weight: normal;
	color: white;
	font-size: 2.5em;
	list-style: none;
}

}